<div class="mb-3 d-flex align-items-center">
  <div class="me-3">
    <% if @reading.user.avatar.attached? %>
      <%= image_tag @reading.user.avatar.variant(:icon) %>
    <% end %>
  </div>
  <h2 class="me-3"><%= @reading.user.name %>の読書記録</h2>
  <time class="text-secondary" datetime="<%= @reading.created_at.to_date %>"><%= l(@reading.created_at) %></time>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <h2 class="card-title"><%= @reading.book.title %></h2>
        <p><%= @reading.book.author %></p>

        <hr>

        <dl class="mb-0">
          <dt>進捗</dt>
          <dd><%= @reading.status_i18n %></dd>

          <dt>感想</dt>
          <dd style="white-space: pre-wrap"><%= @reading.comment %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
