<h2 class="mb-3">プロフィール編集</h2>

<%= bootstrap_form_with model: @profile, url: profile_path do |f| %>
  <%= f.text_field :name, label: '名前' %>
  <%= f.email_field :email_address, label: 'メールアドレス' %>
  <%= f.file_field :avatar, label: 'アイコン画像' %>
  <% if @profile.avatar.attached? %>
    <div class="mb-3">
      <%= image_tag @profile.avatar.variant(:profile) %>
    </div>
  <% end %>
  <%= f.primary '更新' %>
<% end %>
