<h2 class="mb-3">読書記録を追加</h2>
<%= render 'book', book: @reading.book %>

<%= bootstrap_form_with model: @reading do |f| %>
  <%= render 'form', f: %>
  <%= f.hidden_field :book_id %>
  <%= f.primary '追加する' %>
<% end %>
