<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <% if @reading.book.cover.attached? %>
        <div class="me-3">
          <%= image_tag(@reading.book.cover, width: '120') %>
        </div>
      <% end %>
      <div class="flex-grow-1">
        <h2 class="card-title"><%= @reading.book.title %></h2>
        <p><%= @reading.book.author %></p>

        <hr>

        <dl class="mb-0">
          <dt>進捗</dt>
          <dd><%= @reading.status_i18n %></dd>

          <dt>感想</dt>
          <dd style="white-space: pre-wrap"><%= @reading.comment %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <%= link_to '編集', edit_reading_path(@reading), class: 'btn btn-outline-primary me-3' %>
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#URLShareModal" >
    共有する
  </button>
  <div class="modal fage" id="URLShareModal" tabindex="-1" aria-labelledby="URLShareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="mocal-title fs-5" id="URLShareModalLabel">読書記録を共有する</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group" data-controller="clipboard">
            <input type="text" class="form-control" data-clipboard-target="source" value="<%= public_reading_url(@reading.share_token) %>" readonly>
            <button class="btn btn-outline-secondary" type="button" data-action="clipboard#copy" data-clipboard-target="button">コピー</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= button_to '削除', reading_path(@reading), method: :delete, class: 'btn btn-danger', data: {turbo_confirm: '削除しますか？'} %>
