<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title"><%= @book.title %></h2>
    <span class="badge bg-<%= status_badge_class(@book.status) %>"><%= @book.status_i18n %></span>
    <p class="card-text mt-3"><%= @book.comment %></p>
  </div>
</div>

<%= link_to '編集', edit_book_path(@book), class: "btn btn-primary me-2" %>
<hr>
<%= link_to '削除', book_path(@book), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
